<h1>School list</h1>
<div class="pull-right">
  <input ng-keyup="doSearch()" ng-model="query" placeholder="Search..."/>
</div>
<a ui-sref="school_new">New school</a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>thumbnail</th>
      <th>creation</th> 
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="school in schools | filter:nameText | orderBy: 'name'">
      <td>{{school.name | uppercase}}</td>
      <td>{{school.thumbnail}}</td>
      <td>{{school.created_at | date}}</td>
    </tr>
  </tbody>
</table>

 


