<h1>School list</h1>
<div class="pull-right">
  <input ng-keyup="doSearch()" ng-model="query" placeholder="Search..."/>
</div>
<a ui-sref="home.school_new">New school</a>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>creation</th> 
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="school in schools | filter:nameText | orderBy: 'name'">
      <td>{{ school.id }}</td>
      <td>
        <a ng-hide="school.edit" ui-sref="home.schools_courses({ school_id: school.id })">{{school.name | uppercase}}
        </a>
        <input ng-model="school.name" ng-show="school.edit"/>
        |
        <a ng-click="school.edit = true" ng-hide="school.edit">edit</a>
        <a ng-click="update(school)" ng-show="school.edit">update</a>
      </td>
      <td>{{school.created_at | date}}</td>
    </tr>
  </tbody>
</table>

<div>
  <label>What is your facebook handle?</label>
  <input type="text" ng-model="handle">
</div>

<hr />

<h1>facebook.com/{{ lowercasehandle() }}</h1>

 


