<!doctype html>
<html lang="en" ng-app="mainApp">

<head>
    <title>e-learning platform</title>
</head>

<body>
  <div ui-view></div>
    <!-- AngularJS -->
    <script type="text/javascript" src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
    <!-- ui-router -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
     <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
      <!-- ngFileUpload -->
    <script type="text/javascript" src="ngFileUpload/ng-file-upload.js"></script>
    <script type="text/javascript" src="ngFileUpload/ng-file-upload-shim.js"></script>
</body>